<% content_for :heading do %>
  GOV.UK Formats on GOV.UK
<% end %>

<ul>
  <li><%= link_to "Document types", "/document-types" %></li>
  <li><%= link_to "Organisations", "/organisations" %></li>
  <li><%= link_to "Top level taxonomy topics", "/taxons" %></li>
</ul>
